<html>
  <head>
    <title>Temperature</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <header class="header">
      <h2>Corriente media - Tablero</h2>
    </header>
    <main>
      <div class="temperatura-contenedor">
        <h2>Corriente: <span id="corriente"></span></h2>
      </div>
    </main>

    <script>
      function updateTemperature() {
        fetch("/corriente")
          .then((response) => response.json())
          .then((data) => {
            document.querySelector("#corriente").innerHTML = data.corriente;
          });
      }
      updateTemperature();
    </script>
  </body>
</html>
